{% extends 'base.html' %}
{% block conteudo %}
    <h2 style="text-align: center;">Lista de Cursos</h2>
    <hr>
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Horas</th>
              <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos.items %}
                <tr>
                    <td>{{ curso.id }}</td>
                    <td>{{ curso.nome }}</td>
                    <td>{{ curso.descricao }}</td>
                    <td>{{ curso.carga_horaria }}</td>
                    <td>
                        <a href="{{ curso.id }}/atualiza_curso" data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" 
                                                                data-bs-title="Editar">
                            <img src="../static/edit_client.png">
                        </a>
                        
                        <a href="{{ curso.id }}/remove_curso" data-bs-toggle="tooltip" 
                                                              data-bs-placement="top" 
                                                              data-bs-title="Excluir">
                            <img src="../static/delete_client.png" onclick="return confirm('Deseja excluir esse registro ?')">
                        </a>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-borderless">
        <tr>
            <th class="align-bottom" scope="col-11">
                {% if cursos.page == 1 %}
                    <!-- desabilitado -->
                    <img src="../static/primeiro_desabilitado.png" height="40px" width="40px" 
                                                                   data-bs-toggle="tooltip" 
                                                                   data-bs-placement="top" 
                                                                   data-bs-title="Primeiro Curso">
                {% else %}
                    <a href="{{ url_for('lista_cursos', page=1) }}" data-bs-toggle="tooltip" 
                                                                    data-bs-placement="top" 
                                                                    data-bs-title="Cursos Anteriores">
                                                                    <img src="../static/primeiro.png"
                                                                         height="40px" width="40px"></a>
                {% endif %}
                {% if cursos.has_prev %}
                    <a href="{{ url_for('lista_cursos', page=cursos.prev_num) }}" data-bs-toggle="tooltip" 
                                                                                data-bs-placement="top" 
                                                                                data-bs-title="Cursos Anteriores">
                                                                                <img src="../static/anterior.png"
                                                                                height="40px" width="40px"></a>
                {% else %}
                    <!-- desabilitar -->
                    <img src="../static/anterior_desabilitado.png" height="40px" width="40px" 
                                                                data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" 
                                                                data-bs-title="Cursos Anteriores">
                {% endif %}

                {% for num in cursos.iter_pages() %}
                    {% if cursos.page != num %}
                        <span class="align-bottom" >
                            <a class='page-number fs-2 text-monospace text-decoration-none'
                                href="{{ url_for('lista_cursos', page=num) }}">{{num}}</a>&nbsp;
                        </span>
                    {% else %}
                        <span class='align-bottom current-page-number fs-2 text-monospace'>{{num}}&nbsp;</span>
                    {% endif %}
                {% endfor %}

                {% if cursos.has_next %}
                    <a href="{{ url_for('lista_cursos', page=cursos.next_num) }}" data-bs-toggle="tooltip" 
                                                                                data-bs-placement="top" 
                                                                                data-bs-title="Proximos Cursos">
                                                                                <img src="../static/proximo.png"
                                                                                height="40px" width="40px"></a>
                {% else %}
                    <!-- desabilitar -->
                    <img src="../static/proximo_desabilitado.png" height="40px" width="40px"
                                                                data-bs-toggle="tooltip" 
                                                                data-bs-placement="top" 
                                                                data-bs-title="Proximos Cursos">
                {% endif %}
                {% if cursos.page == cursos.pages %}
                    <!-- desabilitado -->
                    <img src="../static/ultimo_desabilitado.png" height="40px" width="40px" 
                                                                 data-bs-toggle="tooltip" 
                                                                 data-bs-placement="top" 
                                                                 data-bs-title="Último Curso">
                {% else %}
                    <a href="{{ url_for('lista_cursos', page=cursos.pages) }}" data-bs-toggle="tooltip" 
                                                                               data-bs-placement="top" 
                                                                               data-bs-title="Último Curso">
                                                                               <img src="../static/ultimo.png"
                                                                                   height="40px" width="40px"></a>
                {% endif %}
            </th>
            <th scope="col" style="text-align: right;">
                <a href="{{ url_for('cria_curso') }}" class="btn btn-primary">Adicionar Curso</a>
            </th>
        </tr>
    </table>
{% endblock conteudo %}
