{% extends 'base.html' %}
{% block body %}
<h5>{{ subtitulo }}</h5>
<form method='POST' action='/busca'>
    <div class="form-group">
        <p>Use este formulário para submeter sua busca:</p>
        <label for="frase">Frase</label>
        <input class="form-control" id="frase" name='frase' type='TEXT' width='60'>
    </div>
    <p>
        <div class="form-group">
            <label for="letras">Letras</label>
            <input class="form-control" id="letras" name='letras' type='TEXT' value='aeiou'>
        </div>
    </p>
    <p>Quando estiver pronto, clique neste botão:</p>
    <p><button type="submit" class="btn btn-primary">Buscar</button></p>
</form>
<script>
    window.onload = function () {
        document.getElementById("frase").focus();
    }
</script>

{% endblock %}